.Banner {
    background-color: #1d2927;
    color: white;
    margin-top: 2.5rem;
    /* width: 100vw; */
    /* margin: 0rem 20% 0rem 20%; */
}

.bannerMain {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    /* height: 24rem; */
    /* gap: 12rem; */
    margin: 0rem 20% 0rem 20%;
}

.leftContainer {
    /* width: 40%; */
    font-size: 50px;
    font-family: "Fraunces", serif;
}

.rightContainer {
    /* width: 60%; */
    line-height: 40px;
    font-size: 28px;
    font-family: Lato;
    font-style: italic;
}
