/* @font-face {
    font-family: "NimbusanL-Reg";
    src: url(./public/NimbusSanL-Reg.otf);
} */

.btn {
    font-family: "Calibri thin";
    text-transform: uppercase;
    font-size: 18px;
    border: 1px solid #014235;
    background-color: #014235;
    color: white;
    width: 10rem;
    height: 2.5rem;
    transition: all 0.09s ease-in;
    z-index: 10;
    margin: 2rem 0rem 1rem 0rem;
}

.btn:hover {
    background-color: white;
    color: #014235;
    border: 1px solid #014235;
    cursor: pointer;
}
